body{
	background-color: aliceblue;

}

.perfil{
	margin-left: 20px;
}
.image_capa{
	background-size: cover;
	width: 700px;
	height: 400px;
}
.image_perfil{
	height: 310px;
    width: 320px;
    border-radius: 20px;
    margin-left: 100px;
    margin-top: 190px;


}
.trocar_foto_capa{
	margin-top: -40px;
	font-family: 'Roboto', sans-serif;
	border-radius:10px;
}
.trocar_foto_perfil{
	margin-left : 190px;
	margin-top:-40px;
	font-family: 'Roboto', sans-serif;
}
.cards {
	margin-left: 68px;
	margin-top:-400px;
	width: 350px;
	padding: 10px;
	border-radius: 20px;


}


.dados_perfil{
	margin-top:20px;
	margin-left:  300px;
	font-family: 'Roboto', sans-serif; 
	border-color: #ffffff;


}

.form-control-file{
	margin-top: 10px;
	font-family: 'Roboto', sans-serif;

}

.informacoes_perfil{

	position: absolute;
	align-self:  center;
	left: 490px;
	margin-top: -450px;
	width: 50px;
	height: 50px;
	font-family: 'Roboto', sans-serif;
}



.card_recompensa{
	background-color: grey;
	width: 250px;
	height: 150px;
}

.tabela_equipe{
	background-color: white;
	float: right;
	margin-top :-430px;
	margin-right: 50px;
	font-family: 'Roboto', sans-serif;



}
.tr,td{
	padding: 7px;

}

.botoes{
	margin-top: -170px;
	margin-left:750px;
}
.salvar_alteracoes{
	padding:7px;
	margin-left: 80px;
	border-radius:5px;
	border-color: white;
	cursor: pointer;
	font-family: 'Roboto', sans-serif;
}
.cancelar_alteracoes{
	padding: 7px;
	border-radius:5px;
	border-color: white;
	cursor: pointer;
	font-family: 'Roboto', sans-serif;

}

.recompensas{
	margin-top: 190px;

}
.card_recompensa{
	background-color:grey; 
	margin-top: 20px;
	width: 225px;
	height: 150px;
	text-decoration-color: white;

}

.card2_recompensa{
	background-color:grey; 
	margin-top: 20px;
	width: 225px;
	height: 150px;
	text-decoration-color: white;
	margin-left: 250px;
	margin-top: -160px;

}
.nome_recompensa{
	text-align: center;
	font-family: 'Roboto',sans-serif;
	font-size: 20px;
}
.descricao_recompensa{
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	text-align: justify;
	margin-left: 10px;
	margin-right: 10px;

}
.data_recompensa{
	font-family: 'Roboto',sans-serif;
	margin-left: 10px;
	margin-right: 10px;

}