.header{
    font-family: 'Roboto',sans-serif;
    font-size: 50px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: -90px;
    color: black;

}
.capa_comp{
    height:350px;
    width: 430px;
    margin-top:70px ;
    margin-left: 10px;
}
.capa_lua{
    height:350px;
    width: 425px;
    margin-top: -140px;
    margin-left: 200px;
}

.capa_londres{
    height:350px;
    width: 420px;
    margin-top: -70px;
    margin-left: 10px;

}
.capa_game{
    height:350px;
    width: 430px;
    margin-top: -210px;
    margin-left: 198px;
}.capa_eisten{
    height:350px;
    width: 430px;
    margin-top: -107px;
    margin-left: 10px;
}.capa_mao{
    height:347px;
    width: 430px;
    margin-top: -228px;
    margin-left: 198px;
}
.capa_pacman{
    height:350px;
    width: 430px;
    margin-top:-118px;
    margin-left: 10px;
}
.capa_tokyo{
    height:343px;
    width: 430px;
    margin-top: -230px;
    margin-left: 198px;
}