#texto{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#texto p{
    font-size: medium;
}

#grid {
    
    margin-top: 80px;
}

#upgrid{
    margin: 100px;
    display: flex;
    align-items: center;
    width:auto;
    text-align: center;

}