#texto{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#texto p{
    font-size: medium;
}

#grid {
    background: #6bb8fa;
    margin-top: 80px;
    border-radius: 20px;
    margin: 3%
}

#upgrid{
    margin: 100px;
    display: flex;
    align-items: center;
    width:auto;
    text-align: center;

}