#menuPrincipal{




}

#menuLateral{
    position: relative;
    margin-right: 3%;
}
#bemVindo{
    text-decoration-color: black;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    margin-top: 6px;
}
#tarefa{
    color: black;
    margin-left: 80px;
    
}
#nomeDoUsuario{
    text-align:inherit ;
    text-decoration-color: black;
    font-family: 'Roboto', sans-serif;

}

    #shield{
    align-items: left;
    position: absolute;
    margin-left:90% ;
    }

    #fotoDoProjeto{
        margin-bottom:20px;
        
    }
    #pesquisa{
        margin-left: 37px;
    }
    #card{
        margin-left: 37;
    }